*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;align-items: center;
    background-color: hsl(217, 54%, 11%);
}
.wrapper{
    width: 350px;
    height: 75vh;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4%;
    /* width: 260px; */
    box-shadow: 0px 20px 3px 15px rgba(0, 0, 0, 0.068),
    0px 30px 3px 31px rgba(10, 10, 10, 0.041);
    max-width: 350px;
    /* min-width: 350px; */
}
.image{
    width: 90%;
    position: relative;
    cursor: pointer;
}
.image img{
    width: 100%;
    border-radius:5px;
}
.image:active::before{
    content: "";
    background: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position:center;
    background-color: hsla(178, 100%, 50%, 0.49);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.spans{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(215, 23%, 54%);
    font-size: 13px;
}
.spans span:first-of-type{
    font-size: 13px;
    color: hsl(178, 100%, 50%);
}
svg{
   transform: scale(0.7);
   vertical-align: middle;
}
hr{
    width: 100%;
    border:1px solid hsl(215, 32%, 27%);
}
.last img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 7px;
}
.last{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 5px;
    color:hsl(215, 23%, 54%);
    font-size: 12px;
}
.last span{
    cursor: pointer;
    color:white;
}

.last span:active{
    color:hsl(178, 100%, 50%);
}
h4{
    width: 100%;
    color:hsl(0, 0%, 100%);
    cursor: pointer;
}
h4:active{
    color:hsl(178, 100%, 50%);
}
p{
    color: hsl(215, 51%, 70%);
    font-size: 14px;
    
}
